@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

body{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #ecf0f3;
}

.container{
    height: 500px;
    width: 350px;
    position: relative;
    margin-top: 100px;
    margin-left: 600px;
    border-radius: 20px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

}

brand title{
    font-weight: 900;
    font-size: 40px;
    color: #1DA1F2;
    letter-spacing: 1px;
    padding: 30px;
}

input, label, button{
    width: 100%
   background-color white
   border: none
   outline: none
   font-size 20px

}

input::placeholder{
color: grey;
}

input{
    width: 330px;
    background: color #ecf0f3;
    height: 50px;
    font-size: 14 px;
    border-radius: 50 px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;

}
button{
    margin-top: 50px;
    width: 330px;
    background-color: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 6px 6px 6px #CBCED1, -6px -6px 6px white;
}
button:hover {
    box-shadow: none;
}s
